# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
mp-env/
venv/
env/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python package distributions
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/


SetUp Scripts .iss File.iss
hackerui_bodycontroller_setup.exe

